head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='Where Ian Sinnott builds cool stuff.')
  title isinn.co | Ian Sinnott
  link(href='/app.css?v=#{version}', rel='stylesheet')
